#about
  .container
    .row.v-spacer-xl
      .col-md-4
      .col-md-8
        .about-header
          %h1 About Us
        .about-text.v-spacer-md
          %p Brands are like people. When someone truly loves their work, they shine. They radiate purpose and people are drawn toward that energy.
          %p Halo is a full-service branding and marketing communications agency that helps clients discover their true voice and purpose to inspire audiences around the world.
          %p Brands are like people. When someone truly loves their work, they shine. They radiate purpose and people are drawn toward that energy. Halo is a full-service branding and marketing communications agency that helps clients discover their true voice and purpose to inspire audiences around the world.


    .v-spacer-xl
