#about
  .container
    .row.v-spacer-xl
      .col-md-6.col-md-offset-3.text-center
        .about-header
          %h1 Who We Are
        .about-text.v-spacer-md
          %p Acts of Kindness is synonymous with philanthropy. AOK serves non-profits with limited or no marketing budgets by acting as the charity’s marketing arm. AOK serves larger charities by helping them connect with the millennials. AOK minimizes the risk of charities losing donation money on failed campaigns because AOK uses their resources help promote your campaign.
          %p Partnered with Serino Technology, Acts of Kindness is a portal designed to provide nonprofit organizations the tools to generate brand awareness, create consistent messaging, attract volunteers, engage and retain donors, fundraise effectively, and easily scale operations as engagements and revenue increase.

    .v-spacer-xl
