%section#banner
  .container
    .row
      .col-md-6
        .banner-text.v-spacer-xl
          %h1 We help brands shine
          %p Brands are like people. When someone truly loves their work, they shine. They radiate purpose and people are drawn toward that energy.
          %p AOK is a full-service marketing and product development companies that help charities discover their true voice and purpose to inspire their audiences around the world.
