%section#banner
  .container
    .row
      .col-md-6.col-md-offset-6
        .banner-text.v-spacer-xl
          %h1 We help charities shine
          %p As a charity, funds need to be designated towards projects. It's difficult to reach a larger audience when you don't have a marketing budget. Charities that have a budget are to shy to take risks because they might end up losing donors' money with a failed campaign.
          %p AOK is a full-service marketing and campaign development company that helps charities share their true voice and purpose to inspire their audiences around the world.
