#gallery
  .container
    .row.v-spacer-xl.text-center
      .col-md-6.col-md-offset-3
        .about-header
          %h1 Art of Kindness
        .about-text.v-spacer-sm
          %p The AOK Art Gallery is an online art gallery where artists from all over the world can sell their artworks and have proceeds go towards the advocacy of their choice. Normally, galleries take 50%. AOK only takes 30%. A minimum of 20% goes to the charity of the artist’s choice.
        .about-link
          = link_to "Go to app", "http://app.aoklife.com", class: "btn btn-primary"


    .v-spacer-xl

#money-raised
  .raised-text.text-center
    %h3 We have raised over
    %span.dollars $11,109
    %h3 for charity, and we're just getting started.

  .v-spacer-xl
