#mission
  .container
    %h1.text-center.v-spacer-xl
      Our Mission

    .row.v-spacer-lg
      .col-md-6.col-sm-6
        .mission-text
          %p 1 billion children worldwide are living in poverty. At least 108 million people were killed in wars in the 20th century. Over 1 million species have become extinct due to global warming.
          %p People want change but change is conditional. If there's pain involved, we avoid it. If there's pleasure, we gravitate towards it. The non-profit sector is in a lot of pain. Here's where AOK comes in...
          %p AOK wants to change the world through Acts of Kindness. AOK wants to unite the world to become global citizens so that we can create a more harmonious world. With the fun and innovative ways AOK uses to fundraise for charities, we attract more volunteers to support your movement. When someone truly loves what they do, they shine.
      .col-md-6.col-sm-6
        .mission-image
          = image_tag("mission-img.jpg", class: "img-responsive")

    .v-spacer-xl
