.container
  %h1.text-center.v-spacer-xl
    Our Mission

  .row.v-spacer-lg
    .col-md-6.col-sm-6
      .mission-image
        = image_tag("mission-img.png", class: "img-fluid")
    .col-md-6.col-sm-6
      .mission-text
        %p Brands are like people. When someone truly loves their work, they shine. They radiate purpose and people are drawn toward that energy.
        %p Halo is a full-service branding and marketing communications agency that helps clients discover their true voice and purpose to inspire audiences around the world.
        %p Brands are like people. When someone truly loves their work, they shine. They radiate purpose and people are drawn toward that energy. Halo is a full-service branding and marketing communications agency that helps clients discover their true voice and purpose to inspire audiences around the world.

  .v-spacer-xl
