#press
  .container
    %h1.text-center.v-spacer-xl
      In The Press

    .row.v-spacer-lg.text-center
      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("aok-bg.png")
          .caption
            %h3 Lorem ipsum
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %button.btn.btn-block.btn-primary Read More

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("aok-bg.png")
          .caption
            %h3 Lorem ipsum
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %button.btn.btn-block.btn-primary Read More

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("aok-bg.png")
          .caption
            %h3 Lorem ipsum
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %button.btn.btn-block.btn-primary Read More

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("aok-bg.png")
          .caption
            %h3 Lorem ipsum
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %button.btn.btn-block.btn-primary Read More

    .v-spacer-xl
