#footer
  .container
    .footer-nav
      .row.v-spacer-md
        .col-md-6
          %ul
            %li Mission
            %li About
            %li Services
            %li FAQ
            %li Privacy Policy


        .col-md-3.col-md-offset-3
          %ul
            %li
              %i.fa.fa-facebook
            %li
              %i.fa.fa-twitter
            %li
              %i.fa.fa-instagram

    .row
      .col-md-6
        .footer-address
          %p 4/F A & V Crystal Bldg,
          %p 105 Esteban St., Legaspi Village,
          %p Makati City 1200
          %p Copyright © 2017  AOK - Acts Of Kindness

.v-spacer-xl
